* {
    box-sizing: border-box;
  }
  

  body {
    background: white;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Header where both Scores and Timer are */
  header {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 85%;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 10px;
  }

  #view-score:hover {
      cursor: pointer;
      color: fuchsia;
  }


  header h1 { /* View High Scores on the left */
      padding-left: 20px;
      font-size: 20px;
      display: inline;
  }
  
 .timer { /* Timer in the right */
      font-size: 20px;
      color: black;
      display: inline;
      text-align: right;
      padding-right: 20px;
  }

  /*Main content of my quiz */
.container {
      padding: 20px;
      flex-direction: column;
      width: 50%;
      margin: auto;
  }

  /* Coding Quiz Challenge title*/
 h2 {
    color: black;
    font-size: 25px;
    font-weight: bold;
  }

  /* Text on information*/
  p {
    color: black;
    font-size: 20px;
  }

  .start {
    align-items: center;
    text-align: center;
    }
  
 .start h2, .start p {
     text-align: center;
 }

  .questions {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    margin: auto;
  }

  .end h2, .end p {
      text-align: left
  }

  .end input {
    outline: thick; 
    border-width: 1px;
    padding: 5px;
    width: 40%;
    font-size: 20px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .end input:focus {
    border: 2px solid purple;
  }

  .show {
      display: flex;
  }

  .hide {
      display: none;
  }

  #question {
    color: black;
    text-align: left;
    font-size: 20px;
  }

  #high-score {
      text-align: left;
      font-size: 15px;
  }

  /*Button Styling */
  .btn {
      background: purple;
      color: white;
      padding: 10px;
      border-radius: 10px;
      border: none;
      box-shadow: 0 3px grey;
      margin-top: 10px;
  }

  .btn:hover {
      background: rgb(147, 70, 147);
      border-radius: 10px;
      box-shadow: 0 2px grey;
      cursor: pointer;
  }

  .btn:active {
      border: none;
      outline: none;
      box-shadow: 0 0 grey;
  }

  .btn:focus {
      outline: none;
  }

  .btn-grid {
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-gap: 5px;
      margin: 20px 0;
  }

  /* Button configuration from the first page*/
 .intro {
     width: 20%;
     margin-top: 10px;
     font-size: 15px;
 }

 /* How will my buttons for answers will look like when the questions appears*/
 .answerbtn {
     width: 60%;
     text-align: left;
     font-size: 20px;
 }

 /* how will correct or wrong will look like at the bottom of the quiz */

 .banner {
     font-size: 18px;
     text-align: center;
     color: rgba(199, 187, 187, 0.8);
     margin: 0 100px;
 }

.banner h3 {
    border-top: 2px solid rgba(199, 187, 187, 0.8);
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

/* How will the list of scores appear after entering the initials */
 ol {
    list-style-type: number;
 }

li {
    font-size: 18px;
}
